body {
    margin: 0;
    font-family: "Georgia", serif;
    background-color: #ed8bed;
    color: #904cbe;
    text-align: center;
    padding: 2rem;
}

header {
    margin-bottom: 2rem;
}

header h1 {
    font-family: "Dancing",serif;
    font-size: 2.2rem;
    color: #0b0b0b;
}

.poema {
    font-family: "Dancing",serif;
    font-size: 1.3rem;
    line-height: 1.8;
    max-width: 700px;
    margin: 0 auto 2rem;
    padding: 1.5rem;
    background-color: #ad6dec;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(11, 10, 11, 0.1);
    color: #0b0b0b;
}

.explicacion {
    font-family:"Dancing",serif;
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #0e0e0e;
}

.firma {
    font-style: italic;
}